.home {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
    "... search ..."
    "... profile ...";
  grid-template-columns: 35px 1fr 35px;
  grid-template-rows: 135px 1fr;
  place-items: center;
  @include media(550px) {
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 90px 1fr;
  }
}
//https://api.github.com/users/allyhere/repos